[user]
    name = Phurinut Waranich
    email = phurinut.wara@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
[commit]
    template = ~/.stCommitMsg
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
    defaultBranch = main
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
